## User-specific files
*.user
*.userosscache
*.suo
*.userprefs
.vscode/
.vs/

## Windows Installer files
Thumbs.db
ehthumbs.db

## .NET files
bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/
copilot-chat/
DesignTimeBuild/
FileContentIndex/
v17/
CopilotIndices/

## Azure Functions files
local.settings.json
host.json
*.csproj.user

## Visual Studio for Mac
.vscode/
.idea/

# Node.js dependencies
node_modules/

# NPM log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ASP.NET Core
wwwroot/

# Debugging files
*.dbg
